{% load static %}
{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/head.html' %}
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <!-- Topbar Start -->
    {% include 'includes/topbar.html' %}
    <!-- Topbar End -->

    <!-- Navbar Start -->
    {% render_partial 'product:navbar' %}
    <!-- Navbar End -->

    {% block main %}
    {% endblock %}

    <!-- Footer Start -->
    {% include 'includes/footer.html' %}
    <!-- Footer End -->
    {% include 'includes/footer_links.html' %}
</body>
</html>